<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirates and Ships</title>
  </head>
  <body>
    <h1><%=@pirate.name%> is:</h1>
    <p><%=@pirate.height%> inches tall and weighs <%=@pirate.weight%> lbs</p>

    <h1>He owns the following ships:</h1>
    <h2><%=@ships[0].name%></h2>
    <p>Type: <%=@ships[0].type%></p>
    <p>Booty: <%=@ships[0].booty%></p>

    <h2><%=@ships[1].name%></h2>
    <p>Type: <%=@ships[1].type%></p>
    <p>Booty: <%=@ships[1].booty%></p>
  </body>
</html>
